body {
    font-size: 75%;
    min-width: 960px
}

#notifications h2 {
    color: white;
}

.menu .selected, .facet-list .selected {
    background-color: #900009;
}

.Sorting, .paging {
    font-size: 100%;
}
/* This defines the color of the banner background 
   The default redbox color is #B1101A
*/
H1#branding, .branding {
    background: #FFFFFF;
    Padding-bottom: 0;
}

h1#branding a, .branding {
    color: white;
}

.branding .subtitle {
    font-size: larger;
    padding-left: 0.85em;
    padding-bottom: 0.5em;
}
/* This defines the color of the menu bar/navigation backgrounds
   on the /redbox/default/home page. The default redbox color is #500005
*/
ul.nav, ul.main li a, .box h2 {
    background: #770007;
}

ul.main li:hover a {
    background-color: #900009;
}

ul.main li:hover ul li a {
    background-color: #900009 !important;
}

/* This defines the color of the menu bar backgrounds
   The default redbox color is #500005
*/
Ul.main li:hover ul li a:hover {
    background-color: #900009 !important;
}

/* This defines the color of the menu bar backgrounds
   The default redbox color is #500005
*/
ul.main li ul li a {
    background-color: #900009;
    border-top: none;
}

ul.main li ul li.selected-view a {
    font-style: italic;
}

#content .accordion {
    font-family: Arial,Helvetica,sans-serif;
}

.accordion table {
    margin-bottom: 4px;
}

/* This defines the color of the menu bar backgrounds
   The default redbox color is #500005
*/
.accordion-header {
    background: #900009;
    color: white;
    display: block;
    font-size: 1.025em;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 2px;
    padding-left: 1.75em;
    padding-top: 2px;
}

.accordion-header.ui-state-active, .accordion-header:hover {
    background: #900009;
    border: 1px solid #CCCCCC;
}

#content .ui-accordion-content {
    background: #EEEEEE;
    font-size: 0.909em;
    padding: 0;
}

.ui-accordion .ui-accordion-content {
    margin-bottom: 0;
}

table.meta, table.meta tbody {
    margin-top: 0;
    width: 100%;
}

table.meta th {
    width: 20%;
    word-wrap: break-word;
}

th.header {
    background: #FFF5D2;
    margin: 0;
    padding: 0;
}

th.header h3 {
    font-size: 1.1em;
    margin-top: 0;
    padding-left: 0.8em;
}

.box h2 a, .box h2 a.visible {
    background-color: #500005;
}

.box h2 a:hover, .box h2 a.visible:hover {
    background-color: #900009;
}

.toggle-accordion {
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
}

#toggle-accordion-icon {
    float: left;
}

.accordion-reset {
    border: 1px solid #500005;
    font-size: 1.15em;
    padding-bottom: 0;
    padding-left: 1em;
}

.accordion-reset:hover {
    background-color: #500005;
    border: 1px solid #500005;
}

#delete-record-error {
    color: red;
}

.actions {
    text-align: right;
}

.delete-record:hover, .accept-record:hover {
    cursor: pointer;
}

.deleted {
    font-style: italic;
    text-decoration: line-through;
}

.actions.deleted {
    color: red;
    text-decoration: none;
}

.accepted {
    font-style: italic;
}

.actions.accepted {
    color: green;
}

.pId {
    margin: 3px 0px;
    padding: 4px;
    border: 1px solid black;
    background: #FFFFCC;
    font-size: 120%;
}

/* input forms */
.loading-data {
    color: green;
    font-size: 1.2em;
}

#form-heading {
    font-size: 1.1em;
    margin-bottom: 6px;
}

#form-heading span {
    font-size: 1.1em;
}

#inputForms h2 {
    background: none;
    color: black;
    margin-top: 0;
    font-size: 1.05em;
    text-transform: none;
}

#inputForms img {
    vertical-align: text-bottom;
}

.navigation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-fields-save-close, .form-fields-save {
    vertical-align: super;
}

span.required {
    font-size: 75%;
    font-weight: normal;
    padding-left: 0.5em;
    vertical-align: top;
}

.help-content {
    background: #FFFFCC;
    border: 1px gray dotted;
    color: #002020;
    display: none;
    margin: 4px 2em;
    padding: 4px;
    font-weight: normal;
}

.help-content dl {
    margin-bottom: 0;
}

.help-content dt {
    font-weight: bold;
}

.help-content dd {
    padding-left: 2em;
}

.validation-err-msg {
    color: red;
    cursor: pointer;
    vertical-align: top;
}

h3 div.help-content {
    font-size: 63%;
}

#validation-summary .validation-err-msg {
    background-image: url(../images/icons/pencil.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}

.valign-middle {
    vertical-align: middle;
}

table table, table table td {
    border: none;
    margin: 0;
    padding: 1px;
}

table.lookup td {
    border: none;
}

.group {
    border: 1px solid #CCC;
    padding: 0.4em;
    margin-bottom: 10px;
}

.group-title {
    font-size: 110%;
}

fieldset p textarea {
    display: block;
    width: 98%;
}

.input-list a.advanced {
    cursor: pointer;
}

.strike {
    text-decoration: line-through;
}

/*
input.button, .inputscreens button {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #EEE;
    border: 1px solid #666;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

input.button:hover, .inputscreens button:hover {
    background-color: #CCC;
}
*/

div.meta dl {
    margin-bottom: 0;
    padding: 8px;
}

div.meta dt {
    font-weight: bold;
}

div.meta dd {
    margin-bottom: 4px;
    padding-left: 20px;
}

div.meta ol, div.meta ul {
    margin-bottom: 4px;
    padding: 0;
}

.ticked {
    background-image: url(../images/icons/tick.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}

.waiting {
    background-image: url(../images/icons/hourglass.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}
.selection-add-more-info {
    font-style: italic;
}
.citation-block blockquote {
    margin-bottom: 10px;
}
.citation-block .rdaLabel {
    font-size: 80%;
    font-style: italic;
}
.citation-block .citationString {
    margin-left: 10px;
}
.citation-block .ui-icon {
    float: left;
}

.vrights {
	float:left;
	margin-right:0.5em;
}

.component-wrapper > label {
	 display:block;
}

.component-wrapper .widgetLabel {
	display:block;
}

.component-wrapper .peopleWidgetLabel{
	display:inline;
	padding-right:0.3em;
	padding-left:0.3em;
}

.simple-workflow.component-wrapper > label {
    font-size: 105%;
    font-weight: bold;
}

.component-wrapper > hr {
	padding-bottom:0;
}
.component-wrapper{
	padding-bottom:0.5em;
}

button.anzsrcSelection {
	margin-top:1.5em
}

.reportImages { 
	width:1220px;
 }

.report-img { 
				display:inline-block; 
				border: solid 1px; 
				margin:5px; 
				padding:10px 
			}

.errorbox{
   display:none;
   background-color:#FFDDDD;
   padding: 10px;
}

#reportCriteria input {
	margin:5px;
}

#reportCriteria select {
	margin:5px;
	/*display:none;*/
}