#set($pageTitle = "Home")

#parseTemplate("elements/atom-link.vm")
<h2 id="page-heading">
  <span>$page.portalName</span> $atomHtml
</h2>
<div style="width:90%;float:center;background-color:#99CCCC;border:3pix dashed #000000;margin-left:50px;padding:12px;">
<b>Welcome to Swinburne ReDBox.</b><p>

Swinburne Redbox is Swinburne University of Technology's research metadata store. It contains detailed descriptions of our datasets and data collections, and links this information with records about researchers, research groups, grants and projects. Use the <b>Search</b> box or <b> Browse</b> button to find records. 
</p>

If you previously notified us about a dataset please login to the <a href="http://redbox.swin.edu.au/redbox/dashboard/home"><b>Research Dashboard (click here)</b></a> and continue editing your reserch data description.
</div>
</br>

#parseTemplate("menus/home-main-menu.vm")

<div class="grid_12">
    #if($page.authentication.is_admin())
        #parseTemplate("dialogs/view-reharvest.vm")
        #parseTemplate("dialogs/view-delete.vm")
    #end
    #parseTemplate("dialogs/basic-search-form.vm")
</div>
<div class="clear"></div>

<!-- IE7 needs a blank div here, class="prefix_4" doesn't work -->
<div class="grid_4">&nbsp;</div>

#if($page.authentication.is_logged_in())
    <div class="grid_6">
        #parseTemplate("home/stages.vm")
        ##parseTemplate("menus/home-new-items.vm")
    </div>
    <div class="grid_6">
        #parseTemplate("home/alerts.vm")
    </div>
    <div class="clear"></div>
    <div class="grid_4">&nbsp;</div>
    <div class="grid_6">&nbsp;</div>
    <div class="grid_6">
        #parseTemplate("home/embargoes.vm")
    </div>
    <div class="clear"></div>
#end
